<div id="main" class="push py-14 mt-10 mt-lg-12">
  <div class="container mb-3">
    <!-- module: project-title -->
    <div class="row">
      <div class="col-12">
        <div class="text-center mb-10">
          <div class="h3 text-success"><%= @campaign.title %></div>
        </div>
      </div>
    </div>
    <!-- ./module: project-title -->
  </div>
  <div class="container mt-5">
    <div class="row">
      <% @goodies.each do |goody| %>
        <div class="col-sm-6 col-md-4">
          <%= render partial: 'shared/goody', locals: { goody: goody } %>
        </div>
      <% end %>
    </div>
  </div>
</div>