<% content_for :main_content_class do %>bg_grey<% end %>


<div class="container">
  <div class="mid_box text-center">
    <div class="top_icon"><%= image_tag('/success.svg') %></div>
    <h1>付款完成</h1>
    <hr />
    <p class="encouragement">
      <%= raw @campaign.order_success_html %>
    </p>
  </div>
</div>
