<div class="container">
  <div class="mid_box" style="display:none">
    <% payment_service_for  @order,
                            @order.user.email,
                            :service => :allpay,
                            :html    => { :id => 'allpay-atm-form', :method => :post,authenticity_token: false,enforce_utf8: false } do |service| %>
      <% service.merchant_trade_no @number %>
      <% service.merchant_trade_date @order.created_at %>
      <% service.total_amount @order.amount + @order.bonus.to_i %>
      <% service.description @order.id %>
      <% service.item_name @order.goody.title %>
      <% service.choose_payment "ALL" %>
      <% service.ignore_payment "WebATM#BARCODE"%>
      <% service.payment_info_url "#{SelfConfig.root_host}/orders/#{@order.id}/payment_info" %>
      <% service.client_redirect_url "#{SelfConfig.root_host}/orders/#{@order.id}/detail" %>
      <% service.redirect_url "#{SelfConfig.root_host}/orders/#{@order.id}/detail" %>
      <% service.notify_url "#{SelfConfig.root_host}/orders/#{@order.id}/is_paid" %>
      <% service.encrypt_type "1" %>
      <% service.encrypted_data %>
    <% end %>
  </div>
  <div class="row justify-content-md-center my-20 py-10">
    <div class="col-12 col-md-10 text-center">
      <div class="p-0 p-lg-10 loading">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="loading-text">
          <img class="img-fluid" src="/sk2_assets/img/ui/eclogo-color.png" alt="綠界科技">
          <div class="mt-3">
              前往綠界科技ECPay，請稍候.......
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  window.onload=function(){
    document.forms["allpay-atm-form"].submit();
  }
</script>