<div class="container">
  <div class="mid_box" style="display:none">
    <% payment_service_for  @order,
                            @order.user.email,
                            :service => :allpay,
                            :html    => { :id => 'allpay-atm-form', :method => :post,authenticity_token: false,enforce_utf8: false } do |service| %>
      <% service.merchant_trade_no @order.number %>
      <% service.merchant_trade_date @order.created_at %>
      <% service.total_amount @order.amount + @order.bonus.to_i %>
      <% service.description @order.id %>
      <% service.item_name @order.goody.title %>
      <% service.choose_payment "ALL" %>
      <% service.return_url "http://#{SelfConfig.root_host}/orders/finished" %>
      <% service.notify_url "http://#{SelfConfig.root_host}/orders/#{@order.id}/is_paid" %>
      <% service.encrypt_type "1" %>
      <% service.encrypted_data %>
    <% end %>
  </div>
  轉跳中...
</div>

<script type="text/javascript">
  window.onload=function(){
    document.forms["allpay-atm-form"].submit();
  }
</script>