default: &default
  adapter: mysql2
  encoding: utf8
  database: crowdfunder
  host: 127.0.0.1
  username: root
  password: "123456789"

development:
  <<: *default
  # database: db/development.sqlite3

test:
  <<: *default
  # database: db/test.sqlite3

production:
  <<: *default
  # database: db/production.sqlite3

agric_db:
  adapter: mysql2
  encoding: utf8
  database: agric_sc
  host: vpc-national.cqhshwwfsykv.ap-southeast-1.rds.amazonaws.com
  username: root
  password: voil1674
