<% content_for :javascript do %>
  <link rel="stylesheet" href="/sk2_assets/css/about.css">
<% end %>
<div id="main" class="push mt-10 mt-lg-12">
  <!-- TOP -->
  <div id="intro" class="container-fluid py-10 py-lg-20">
    <div class="container text-center">
      <ul class="nav nav-pill justify-content-center mb-6">
        <li class="nav-item">
          <a class="nav-link anchor text-white px-2" href="#vision">願景與目標</a>
        </li>
        <li class="nav-item">
          <a class="nav-link anchor text-white px-2" href="#team">我們來自哪</a>
        </li>
        <li class="nav-item">
          <a class="nav-link anchor text-white px-2" href="#group">加入友故事</a>
        </li>
        <li class="nav-item">
          <a class="nav-link anchor text-white px-2" href="#qa">常見問題</a>
        </li>
      </ul>
      <div class="d-inline-block box p-5 px-lg-10">
        <div class="text-success mb-6">
          <div class="h1 title">關於我們</div>
        </div>
        <div class="lead">
          友善的故事<br><br>
          我們跟每一個關心生活　熱愛助人的您一樣<br>
          常常會被某個人或某個故事感動<br>
          我們發現<br>
          在這個社會　有一小群人<br>
          為了食的健康和環境的保護<br>
          正默默地努力耕耘著<br>
          他們是友善小農　也就是有機生產者<br>
          他們有許多聲音沒有被聽到<br>
          有許多故事沒有被看到<br><br>
          邀請您和我們一同和友善小農們做朋友<br>
          一起來分享他們的故事
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6">
      </div>
      <div class="col-12 col-lg-6">
      </div>
    </div>
  </div>
  <!-- 願景與目標-->
  <div id="vision" class="container-fluid py-0 py-lg-10">
    <div class="container">
      <div class="row align-items-center py-5">
        <div class="col-12 col-lg-7 my-5">
          <div class="h2 mb-2">
            有機農業不僅是農作物本身的無毒檢出<br>
            真正關注的是<br>
            自然資源的永續發展和生態環境的平衡
          </div>
          <p class="mb-0 text-muted">
            在台灣　施行有機農業的困難<br>
            對小農們來說是相當沉重的壓力<br>
            當大家眼中只有「價錢」時<br>
            有多少人能明白其中的「價值」?
          </p>
        </div>
        <div class="col-12 col-lg-5 my-5">
          <img class="img-fluid" src="sk2_assets/img/uploads/about-vision-01.jpg" alt="">
        </div>
      </div>
      <div class="row align-items-center py-5">
        <div class="col-12 col-lg-7 my-5">
          <div class="h2 mb-2">
            微小而熱情的鼓勵　匯聚成巨大的改變力量
          </div>
          <p class="mb-0 text-muted">
            我們希望透過友故事，在這邊聚集更多的友善小農和友善支持者
            將更多的理念和故事，傳遞給大家
            因為有價值的理念，是值得被支持和鼓勵的
            與友善小農交朋友，鼓勵他們種出更優質、對環境更友善的作物
            有您的加入，是對他們最好的肯定！
          </p>
        </div>
        <div class="col-12 col-lg-5 my-5 order-lg-first">
          <img class="img-fluid" src="sk2_assets/img/uploads/about-vision-02.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <!-- 我們來自哪裡 -->
  <div id="team" class="container-fluid py-10 py-lg-20">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-12 col-lg-6">
          <div class="box">
            <div class="h1 font-weight-bold mb-3">我們來自哪裡</div>
            <p class="lead">
              「取之於社會、用之以社會」<br>
              首機網路(手機王) 近20年來默默善盡企業社會責任，<br>
              積極扮演企業公民的角色。<br>
              從高海拔的部落到偏遠的鄉鎮都有我們的足跡：<br>
              拉拉山水蜜桃的網路行銷、<br>
              白蘭部落的網站、<br>
              ...等等<br>
              我們為自己的夢想努力，為需要的人提供幫助和鼓勵，<br>
              讓社會上的友善、溫暖和美好，持續傳遞下去。
            </p>
            <div class="h4 font-weight-bold">紀事</div>
            <p>
              友故事團隊成立時間 <strong>2018年1月</strong><br>
              友故事網站營運時間 <strong>2019年5月</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 如何成為小圈子 -->
  <div id="group" class="container-fluid py-10 py-lg-20">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8 text-center">
          <div class="h1 title mb-10">如何加入友故事</div>
          <p>
            加入友故事，可以閱讀田間生活故事，獲得知識傳遞，也可以參與提案，鼓勵小農，為環境盡一份心力，進而建立起友善關係。
          </p>
          <div class="row mt-10">
            <div class="col-12 mb-6">
              <div class="h2 font-weight-bold">和友故事交朋友</div>
            </div>
            <div class="col-4">
              <figure class="figure">
                <img class="figure-img img-fluid" src="sk2_assets/img/uploads/about-group-1-1.png" alt="">
                <figcaption class="figure-caption">1.FB尋找「友故事」</figcaption>
              </figure>
            </div>
            <div class="col-4">
              <figure class="figure">
                <img class="figure-img img-fluid" src="sk2_assets/img/uploads/about-group-1-2.png" alt="">
                <figcaption class="figure-caption">2.聊天認識我們</figcaption>
              </figure>
            </div>
            <div class="col-4">
              <figure class="figure">
                <img class="figure-img img-fluid" src="sk2_assets/img/uploads/about-group-1-3.png" alt="">
                <figcaption class="figure-caption">3.按讚並追蹤</figcaption>
              </figure>
            </div>
          </div>
          <div class="row mt-10">
            <div class="col-12 mb-6">
              <div class="h2 font-weight-bold">給小農鼓勵</div>
            </div>
            <div class="col-4">
              <figure class="figure">
                <img class="figure-img img-fluid" src="sk2_assets/img/uploads/about-group-2-1.png" alt="">
                <figcaption class="figure-caption">1.你發現一位很喜歡的小農</figcaption>
              </figure>
            </div>
            <div class="col-4">
              <figure class="figure">
                <img class="figure-img img-fluid" src="sk2_assets/img/uploads/about-group-2-2.png" alt="">
                <figcaption class="figure-caption">2.表達對小農喜好</figcaption>
              </figure>
            </div>
            <div class="col-4">
              <figure class="figure">
                <img class="figure-img img-fluid" src="sk2_assets/img/uploads/about-group-2-3.png" alt="">
                <figcaption class="figure-caption">3.追蹤小農</figcaption>
              </figure>
            </div>
          </div>
          <div class="row mt-10">
            <div class="col-12 mb-6">
              <div class="h2 font-weight-bold">一起參與提案</div>
            </div>
            <div class="col-4">
              <figure class="figure">
                <img class="figure-img img-fluid" src="sk2_assets/img/uploads/about-group-3-1.png" alt="">
                <figcaption class="figure-caption">1.你看到很喜歡的提案</figcaption>
              </figure>
            </div>
            <div class="col-4">
              <figure class="figure">
                <img class="figure-img img-fluid" src="sk2_assets/img/uploads/about-group-3-2.png" alt="">
                <figcaption class="figure-caption">2.支持提案鼓勵小農</figcaption>
              </figure>
            </div>
            <div class="col-4">
              <figure class="figure">
                  <img class="figure-img img-fluid" src="sk2_assets/img/uploads/about-group-3-3.png" alt="">
                  <figcaption class="figure-caption">3.小農繼續為友善努力</figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 常見問題 -->
  <div id="qa" class="container-fluid py-10 py-lg-20 bg-light">
    <div class="container">
      <div class="text-center">
        <div class="h1 title mb-10">常見問題</div>
      </div>
      <div class="font-weight-bold text-success">
        Q1. 支持的方式？
      </div>
      <div class="mb-2">
        「一次性支持」，選擇喜歡的提案與回饋項目支持他們吧。
      </div>
      <div class="font-weight-bold text-success">
        Q2. 有幾種支持付款的方式呢？
      </div>
      <div class="mb-2">
        目前我們提供三種付款方式：
        <ol class="pl-3">
          <li>線上信用卡刷卡。</li>
          <li>超商繳款。</li>
          <li>線上或實體 ATM 轉帳。</li>
        </ol>
      </div>
      <div class="font-weight-bold text-success">
        Q3. 如果我已經支持了提案，還可以再支持同一個提案嗎？
      </div>
      <div class="mb-2">
        當然，我們歡迎每個支持對提案的肯定。
      </div>
      <div class="font-weight-bold text-success">
        Q4. 可以匿名支持提案嗎？
      </div>
      <div class="mb-2">
        可以的，在填寫付款資訊時，下方可自行勾選“匿名支持”。<br>
        若忘記點選匿名，支持完成後可至個人頁面的「支持記錄」中修改。
      </div>
      <div class="font-weight-bold text-success">
        Q5. 我支持的金額會被公開嗎？
      </div>
      <div class="mb-2">
        不會喔！提案內的《支持者》頁面只會顯示您的圖像、暱稱與留言，不會顯示支持金額。
      </div>
      <div class="font-weight-bold text-success">
        Q6. 為什麼有些提案無法支持？
      </div>
      <div class="mb-2">
        無法支持的情況包含提案時間結束，或特殊條件暫停(天災、蟲害等)。
      </div>
      <div class="font-weight-bold text-success">
        Q7. 提案人會收到多少比例的支持金額呢？
      </div>
      <div class="mb-2">
        當提案時間結束，支持金額超過目標的金額時，將進行結算，扣掉平台維護管銷費用5%以及第三方金流平台服務費3%，其餘金額會全額交付給提案人。<br>
        若支持者願意提供更多支持，額外支持的部份我們不會收取5%的平台服務費用，僅扣除3%的金流服務費提交給提案人喔。
      </div>
      <div class="font-weight-bold text-success">
        Q8. 我支持的提案沒有成功的話，我支持的錢跑去哪裡？
      </div>
      <div class="mb-2">
        如果提案時間結束沒有達到目標，我們會依您實際的支持金額，退款給您。若您非使用信用卡付款，將扣除經由超商付款或ATM轉帳產生之手續費後退款給您。
      </div>
      <div class="font-weight-bold text-success">
        Q9. 我人不在台灣/不是台灣人，可以支持提案嗎？
      </div>
      <div class="mb-2">
        可以的，但是回饋項目的配送範圍僅限台灣本島，離島地區和海外暫無此服務喔，敬請見諒。
      </div>
      <div class="font-weight-bold text-success">
        Q10. 成功支持付款後，可以撤銷支持並退款嗎？
      </div>
      <div class="mb-2">
        當然，支持友善不是一件嚴肅的事， 如果該提案仍在提案期間尚未結束，您可以與我們聯絡，我們將協助處理。若該提案已結束且達成目標，您則需要與提案人聯絡。
      </div>
      <div class="font-weight-bold text-success">
        Q11. 支持提案後什麼時候才會收到回饋呢？
      </div>
      <div class="mb-2">
        每個提案的回饋項目皆不同，在回饋項目說明皆會標註預計達成日期，由於回饋項目的預計達成日期為預估，且農產品若遇天災及不可抗力之因素（如：颱風、豪大雨、病蟲害），可能會有延遲出貨的情況。請密切注意提案人的更新動態來確定時間。如果有疑問您可使用提案頁面中的留言功能與提案人聯絡。
      </div>
      <div class="font-weight-bold text-success">
        Q12. 支持提案會有收據嗎？
      </div>
      <div class="mb-2">
        支持金額的發票或收據，在提案成功達標結束後，將由提案之提案人負責處理。
      </div>
      <div class="font-weight-bold text-success">
        Q13. 什麼人可以成為提案人呢？
      </div>
      <div class="mb-2">
        不論您是否為農友、企業，還是個人，只要您年滿20歲，為台灣居民並且擁有台灣的銀行帳戶，成功註冊為本網站的會員後，您都可以發起提案喔。
      </div>
      <div class="font-weight-bold text-success">
        Q14. 如何發起提案?
      </div>
      <div class="mb-2">
        您只需在註冊會員帳號後，至右上方會員功能中點選「提案紀錄」，再點選「發起提案」，就可以開始逐步編寫您的提案。
      </div>
      <div class="font-weight-bold text-success">
        Q15. 發起提案需要付錢嗎？
      </div>
      <div class="mb-2">
        發起提案時是不用付費的喔，當您的提案成功達到目標，達成的金額僅會除5%平台管理費與3%金流服務費後全額提交給您。
      </div>
      <div class="font-weight-bold text-success">
        Q16. 提案期限到期時沒有達到目標金額，會怎麼樣呢？
      </div>
      <div class="mb-2">
        嗚嗚很遺憾，如果期限屆滿未達到目標金額，就是提案不成功，所有的支持款項均將退還給支持者喔。<br>
        您可以重新審視修改提案後再次申請，提案遇到困難或有任何問題都可與我們聯絡。
      </div>
    </div>
  </div>
</div>