<div id="main" class="push py-14 mt-10 mt-lg-12">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center text-success mb-10">
          <div class="h1 font-weight-bold">提案合約書</div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="text-dark">
          <p>本合約書為您（提案人）在友故事網站上完成發起「友善提案」(網路群眾募資提案)的表單時，本網站會請您必須詳閱並同意本契約書內容後才可進行提案的申請。<br>
          提案人（以下稱乙方）基於刊登及宣傳「友善提案」(網路群眾募資提案)之需求，向首機網路股份有限公司（以下稱甲方）租借 https://www.ugooz.cc 網域（友故事網站，以下簡稱「本網站」）之網頁空間，透過該網頁向第三人（以下簡稱「支持者」）提出支持之要約，就甲乙雙方有關該租借網域及提案內容相關之權利與義務，雙方同意並訂定契約條款如下述，當乙方完成提案或勾選「同意提案契約書」時，即視為已閱讀、暸解、並同意以下所有約定條款之所有內容。</p>
          <p>一、提案人資格<br>
            1. 乙方必須是具備完全行為能力之中華民國自然人、或合法登記之法人或團體。若乙方為未成年人，應由其法定代理人閱讀、暸解、並同意本提案合約書之所有約定內容，始得開始使用或繼續使用本網站之服務。<br>
            2. 乙方應完成本網站的會員註冊程序，包括以Facebook帳號註冊為網站會員、填寫會員資料，閱讀、瞭解、並同意本網站的服務條款與隱私權政策。<br>
            3. 乙方應擔保其所提供的會員註冊資訊和個人身分資訊，均為正確且即時的資料，且不得以他人之名義代為向本網站申請提案；如乙方所提供的資訊事後有變更，乙方應即時更新其資訊。如乙方未按指定方式提供資訊、或所提供之資訊不正確或與事實不符、或未即時更新資訊，甲方得不經事先通知，隨時拒絕、或暫停對乙方提供本網站之服務。</p>
          <p>二、提案日期安排<br>
            1.   	乙方所提之申請案，經甲方審查通過後，由甲方依據乙方申請之提案時間、實際需求及其他因素綜合考量後，通知乙方其提案之上架與結束日期。<br>
            2.   	乙方應依排定之日期按時展出。如因任何原因須延期展出，須以電子郵件回覆至甲方專案經理信箱（robert@sogi.com.tw）(或本網站服務信箱ugooz@sogi.com.tw)。延期以一次為限，且不得超過一個月。如未能按時展出，又未事先通知甲方者，甲方有權拒絕乙方之展出申請，並無條件解除契約之權利。</p>
          <p>三、網站服務與使用規範<br>
            1.     本網站提供「友善提案」網路群眾募資服務，供乙方自行刊載提案進行募資。提案募資期間，甲方提供本網站空間供乙方提案內容刊載，並代收提案款項與紀錄支持者所選的回饋項目與金額。<br>
            2.      乙方應完整刊載包含：<br>
            A.	提案說明影片及圖片<br>
            B.	提案詳細說明文案<br>
            C.	提案募資金額目標<br>
            D.	提供支持者之回饋項目<br>
            3.     本網站上所刊載之物件、說明內容、及相關訊息，包括所刊載之多媒體檔案，均係由乙方自行提供、上載、及發布，並由本網站系統刊載於網站，乙方應擔保其內容之真實性、合法性、即時性等，甲方就刊載內容之真實性、合法性、即時性等並無審查之義務，亦不負任何明示或默示之承諾或擔保。乙方所刊載之物件、說明內容、或相關訊息等，如有違反法令、違背公序良俗、侵害第三人權益、或有違反本合約之虞之情形，甲方得不經事先通知，直接加以移除、使之無法被存取或被閱讀、或採取其他限制性措施。<br>
            4.     乙方於本網站提交的申請提案，經本網站審核通過後，提案之內容與提案之目標金額，未經甲方同意，乙方不得擅自變更。<br>
            5.     如支持者於提案進行期間要求退款或變更支持內容，乙方不得異議。如支持者於提案成功結束後方要求退款或變更支持內容，乙方應自行衡量允可與否、並自行處理退款與後續相關事宜，概與甲方無涉。<br>
            6.     經由本網站所進行之募資與回饋項目，應由乙方自行負責回饋之磋商及履行，甲方於必要時，得就乙方提供之資料、刊載之物件及相關訊息、以及與募資相關之事項等，要求乙方就其所涉及之疑義或爭議，即時提出說明及有關資料。<br>
            7.     若回饋履行進度延誤或回饋內容有所變更，乙方應即時使用提案頁面內之「更新」功能將資訊公開於本網站該提案之頁面，向每一位支持者發布最新資訊。支持者若因上述變更要求變更回饋項目或退款，乙方不得拒絕或扣除部分費用。<br>
            8.     若乙方未能交付或延遲交付支持者約定之回饋，或因回饋之品質、效用上之瑕疵所生之任何糾紛，乙方應負擔一切損害賠償責任，概與甲方無涉。<br>
            9.     乙方透過本網站收集之支持者個人通訊資料，除用於履行前間之買賣契約者外，不作其他用途，並不得出售、出租、交換或給予與第三人。<br>
          </p>
          <p>四、平台服務費用<br>
            1.   	本網站使用金流服務廠商為：綠界科技股份有限公司建置之「 ECPay 」。就本服務所代收之交易款項，已取得金融機構提供之足額履約保證。<br>
            2.   	刊載於本網站之提案到期後，若達到或超過提案人設定之目標金額，本網站將自總金額中收取 8% 作為平台服務費，其中包含 5% 平台維護管銷費用以及 3% 第三方金流平台服務費。<br>
            3.   	金額總額扣除上開費用與轉帳匯費後，甲方將在收到乙方提供之銀行實體存款帳號後的 7～14 個工作天內（非工作日則順延），以匯款方式將剩餘之代收款項給付乙方交付款項給乙方。<br>
            4.   	刊載於本網站之提案到期後，若未達到乙方設定之目標金額，甲方將不收取手續費用，並由甲方依實際之提案支持金額退款予該提案支持者，金額不包含經由超商付款或ATM轉帳產生之手續費。</p>
          <p>五、內容授權與智慧財產權<br>
            1.   	乙方上傳、提供物件資料或其他相關資料至本網站時，視為乙方已授權甲方得利用、儲存及刊載該等資料，以供特定或不特定之使用者搜尋及瀏覽，並視為乙方已授權甲方得經由平面或電子形式，重製、散布、公開播送、公開上映、公開發表、或公開傳輸該等資料。<br>
            2.   	乙方提供之所有內容，乙方需自行確認保證已取得合法使用資格，並取得於台灣地區（含台、澎、金、馬等外島地區）之媒體公開播送及公開傳輸等權利，若涉及相關之智慧財產權和法律問題等，皆由乙方自行處理，與甲方無涉。<br>
            3.   	若因此致甲方受有任何名譽或實質上之損害，乙方須對甲方負損害賠償責任。 </p>
          <p>六、提案終止<br>
            1.   	甲方之終止權<br>
            A.	若乙方所提供之內容，引起第三人對其或甲方有任何權利之主張，甲方得要求乙方向第三人協議；協議不成，甲方得停止乙方展出之提案，並無條件解除契約，展出過程中已獲得之支持金額將依實際金額退款予該提案支持者，並由乙方負責承擔退費所需可能之衍生費用。<br>
            B.	若乙方所提供之提案內容，有法規、公序良俗或其他不妥適展出之事由，甲方有權增刪、修改或停止乙方展出之提案。<br>
            2.   	乙方之終止權<br>
            A.	自租用期間開始至結束，乙方在徵得甲方同意後，得隨時終止展出。<br>
            B.	乙方依前款解釋終止展出時，乙方須就甲方因此所生之所有損害為賠償。<br>
            3.   	雙方因前兩項事由停止展出並終止契約關係後，雙方之權利義務，除本合約有約定部分外，依民法有關之規定訂之。<br>
            4.  提案日期結束後六個月內，甲方享有進行原內容或衍生內容之推廣目的之授權，並進行必要之再授權。若雙方在期滿前三十天內，未書面向他方為不續約之意思表示時，本約自動延長一年，其後亦同。<br>
            5.   乙方同意甲方於提案展出期間結束後10年內，保存乙方登錄之資料。</p>
          <p>七、保密義務<br>
            甲乙雙方於提案開始前應互負保密義務；展出後但未公開的磋商內容，亦同。</p>
          <p>八、損害賠償違約金<br>
            任一方有違反本合約之其他條款時，他方得以書面通知向違約之一方要求改善，若違約之一方於收到書面通知三十日內未解決違約事由時，未違約方得終止本合約。因本項情形而終止本合約者，仍得向違約方就其損失請求損害賠償。</p>
          <p>九、管轄法院及準據法<br>
            1.   	書面：本合約得以電子文件代替書面。<br>
            2.   	本合約以中華民國法律為準據法。雙方如因本網站服務、本合約條款、本網站服務條款及本網站服務之相關規範所生之爭議，同意以臺灣臺北地方法院為第一審管轄法院。<br>
            3.   合約解釋、補充協議及疑義解釋：本合約條文如有未盡事宜，經雙方同意得以附件補充之，如有疑義應由雙方本友善互助之原則協商處理。<br>
            4.   	本合約以電子文件形式行之，或勾選「同意提案合約書」時，即視為已閱讀、暸解、並同意以上約定條款的所有內容。<br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>