<div id="main" class="push py-14 mt-10 mt-lg-12">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center text-success mb-10">
          <div class="h1 font-weight-bold">隱私權政策</div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="text-dark">
          <ol class="pl-3">
            <li>哈囉！親愛的朋友，感謝您蒞臨友善耕作圈網站，友善耕作圈網站( _____.com.tw)為 首機網路股份有限公司(以下簡稱「本公司」)所經營管理之網路平台（以下稱「本網站」），我們對於您個人的隱私權相當重視與尊重，將依照本政策及個人資料保護法規定，蒐集、利用、處理與保護您的個人資料，為了幫助您瞭解，本公司如何保護您上網的權益，請您詳細閱讀下列說明，並確實遵守，謝謝。
本政策適用範圍:
本隱私權政策適用於您在本網站活動時，所涉及的個人資料蒐集、運用與保護，包含：使用者名稱、年齡、性別、職業、通訊地址、 Email 與連絡電話，或其他您註冊時或其後所同意本網站蒐集之個人資訊。
本政策之效力範圍僅及於本網站，若您點選第三人網站之連結，連結拜訪至這些網站時，關於個人資料的保護，適用於各該網站或網頁之經營者所定之隱私權政策規定處理，本公司不負任何連帶責任。

關於個人資料之蒐集與使用:
1.  本網站僅提供 以Facebook 登入的方式，登入時將蒐集使用者之下列資訊：經 Facebook 帳號認證之 Email 帳號，以及使用者在 Facebook 上的性別。
2.  當您同意加入本網站，並同意成為會員，即代表您同意收到任何與本網站所提供服務或產品相關之電子郵件，其內容可能包括服務說明、帳號管理資訊、電子報等，除非使用者另行通知，否則將視為所有使用者均同意收到上述相關訊息。
3.  單純在本網站的瀏覽及檔案下載行為，並不會蒐集任何有關個人的身份資料。當您使用本網站所提供的各項服務，如「友善提案」及「工作牆」等，需使用者提供個人資料時，本網站會依需求請您提供姓名、聯絡電話、e-mail與通訊住址等最新、最真實之個人資料。
4.  96年無障礙評選網站會記錄使用者上站時伺服器自行產生的相關記錄如IP位址、上網時間以及在網站內所瀏覽的網頁等資料，這些資料係供本網站工作團隊作網站流量和網路行為調查的總量分析，以利於提昇網站的服務品質，且本網站工作團隊僅對全體使用者行為總和進行分析，並不會對個別使用者進行分析。
5.  本網站於蒐集使用者資訊後，主要目的係用於提供您可能有興趣之提案、改進我們提供之服務、就使用者資料進行系統內部比對以利提供新服務、或提供匿名報告給數位資訊於內部或外部之客戶。
6.  Cookie之運用與政策 :  Cookies 是網站伺服器用以與使用者瀏覽器溝通之一種技術，其使用已成為網站經營之業界標準，並為許多網站所採用。為了使用者之便利，本網站可能使用 Cookies 以供辨識之用。此項技術之使用係為幫助本網站蒐集您的網站使用習慣，以便本公司持續改善本網站並提供與使用者更加個人化之使用經驗。您可透過您的瀏覽器設定，接受或拒絕所有 Cookies 之存取，或是選擇於網站設定 Cookies 時收到個別通知，惟如拒絕、取消或限制 Cookies 之存取，可能導致一些具個人特色的服務無法正常進行。
7.  提案之提案人因為要接受支持者投入支持款項及確實查核提案人身份，本網站會要求提案人提供真實姓名、連絡電話、通訊地址、以及提案人收取支持款項的金融機構帳戶，本網站得依核實提案人身分的需求，要求提案者提供確認身分之其他資料。如提案人為法人集團，本網站得有權收集該法人之統一編號、負責人姓名、聯絡地址等各式公開資訊。本網站不會逕行公開上述資訊，但若應支持者要求，本網站工作團隊會提供提案人聯絡資訊給支持者，確保支持者之權益，以便提案之進行。
8.  本網站為協助提案之提案人收受支持金額與履行回饋，會對支持者蒐集下列資訊：支持者該次支持之金額、所選回饋項目、支持者所指定之回饋收件人姓名、收件人電話及聯絡地址。
9.  本網站之金流服務使用立吉富線上金流股份有限公司的 Paynow 以及智通數位科技股份有限公司建置之「智付通平台」作為付款工具，過程中除了 Paynow 和智付通平台掌握資料外，完全不會有任何付款資訊的揭露。
10. 您可依個人資料保護法享有查詢或請求、補充或更正、停止蒐集、處理或利用、刪除之權利。
11. 若您需要刪除本網站所留存您的所有個人資料時，您必須終止使用本網站所提供之所有服務。

資訊分享與揭露
1.  本公司有義務保護各使用者隱私，不會自行修改或刪除任何個人資料及檔案。除非經過您事先同意或符合以下情況始得為之：
A.   違反本網站規定事項，如上網張貼謾罵或做人身攻擊的言論時。
B.  保護或防衛相關個人的權利或所有權。
C.  為保護本網站各相關單位之權益。
2.  本公司不會任意提供出售、交換、或出租任何您的個人資料給其他團體、個人或私人企業。但在必要的狀況下，依據法律的要求，或基於以下目的之合理必要範圍內，認定必須將您的帳戶資訊、個人資料或使用者內容加以保存或揭露予政府機關、司法警察或未成年人之監護人時，得加以保存及揭露：
A.  遵守法令或政府機關之要求，配合相關職權機關依職務需要之調查或使用。
B.  為提供本服務所必須者
C.  為防止他人權益之重大危害而有必要者
D.  為免除使用者及公眾之生命、身體、自由、權利、財產上之急迫危險者

關於個人應盡之義務
1.  凡登記成為本網站之會員並利用本公司提供之網路平台服務之使用者，皆有義務維持並更新其所屬個人資料，並確保該資料為正確、最新以及完整。
2.  造訪本網站之使用者若提供任何錯誤或不實的資料，本網站工作團隊有權拒絕以該帳號使用網站之全部或部份服務 。
3.  本網站服務中用戶可能會公開部份的資訊，請記得公開資訊會揭露在網站上讓大眾讀取甚至使用，請在分享任何資訊前都仔細思考以及檢查，建議您不要在任何形式之留言區塊、聊天訊息、或是個人的文章中，以任何公開或非公開之方式主動提及或與其他網站使用者交流您個人的相關資料（包括但不限於您的帳戶、密碼等資料）。任何透過此等形式所為之資料提供，不在本公司的隱私權政策保護範圍內。
4.  確保每次連線完畢，均會登出帳號使用以保護個人帳號不會遭到其他人濫用。若您是與他人共享電腦或使用公共電腦，切記要關閉瀏覽器視窗，以防止他人讀取您的個人資料或信件。
5.  提案發起者必須接受善加管理其他用戶資訊的責任。此責任界定為：所有用戶資訊除了使用於提案本身，包括回饋支持者以及運送等項目外，不可將資訊使用於其他活動上，更不能將資料轉賣分享等，進行任何泄漏資料之行為。
6.  對於所有在工作中有必要接觸使用者資料之員工，首機網路股份有限公司針對每位員工僅提供有限度之使用權限，以確保使用者的資料能獲得最大的保護。
7.  本網站擁有資訊安全人員負責監督與確保在本網站之行為都是合法的，且所有使用者的資訊都獲得最嚴密的保護，但目前所有科技均無法確保網路上之資訊傳遞或購物交易能達 100% 安全，因此本網站並無法完全保證所有使用者在網站上傳遞訊息或購物交易的安全，因此所有使用者在使用網路產品或服務時，均需自行負擔任何網路資訊傳遞與購物交易之風險。
8.  維持密碼及帳號的機密安全，是本網站工作團隊與您共同的責任。若您的密碼或帳號遭到盜用或有其他任何安全問題發生時，請您立即以電子郵件來信至本網站服務信箱(xxx@sogi.com.tw)，以便工作團隊協助處理。

其他注意事項
未滿 20 歲之使用者，請勿自行註冊使用本網站服務，亦請勿提供相關個人資料予本網站；未成年人於註冊或使用本網站服務而同意本網站蒐集、利用其個人資訊時，應在法定代理人或監護人之同意下為之。

隱私權政策之修改
當隱私權政策有任何較明顯之更動時，友善工作圈工作團隊將會在本網站上公告。本網站保留修改以及變動的權利。
            </li>
          </ol>
        </div>
        <div class="text-muted font-small">
          
        </div>
      </div>
    </div>
  </div>
</div>