<div id="main" class="push py-14 mt-10 mt-lg-12">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center text-success mb-10">
          <div class="h1 font-weight-bold">服務條款</div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="text-dark">
          <ol class="pl-3">
            <li>
哈囉！歡迎您來到友善耕作圈網站，友善耕作圈網站( _____.com.tw)為 首機網路股份有限公司(以下簡稱「本公司」)所經營管理之網路平台（以下稱「本網站」），為保障您的權益，請於使用本網站服務或註冊成為本網站會員前，詳細閱讀本服務條款之所有內容。本服務條款之目的在於盡力保護使用者或會員使用本網站服務之權益，並確認本公司與使用者及會員間之權利義務關係。

一、接受條款：
1.  在您註冊成為本網站會員、或開始使用本服務時，即視為您已知悉、並同意遵守本條款之所有約定事項。其他本服務條款未盡事項，均依中華民國相關法律規定。此外，當您使用本網站之特定服務時，可能會依據該特定服務之性質，而須遵守本網站所另行公告之相關條款或規定，此等條款或規定亦均屬本服務條款之一部分，具同等之效力。若您無法確實遵守本條款內容或對於本條款內容全部或部分不同意時，請您勿使用本網站服務。如您對本條款有任何不明白處，請以電子郵件來信至本網站服務信箱(xxx@sogi.com.tw)，我們將協助處理您的問題。
2.  當使用本網站及本網站服務時，您必須遵守中華民國相關法令及一切使用網際網路之國際慣例。以及您需要有本網站會員帳戶才能使用本網站服務。您可自行建立會員帳戶。如您未滿二十歲，則您必須在使用本網站服務或註冊會員帳戶前，將本服務條款請您的父母、法定代理人或監護人閱讀，其同意本服務條款之所有內容後，才可以註冊成為本網站之會員。當您已開始使用本網站服務或註冊成為本網站之會員時，則表示您及您的法定代理人已同意接受本服務條款之所有內容及其後之修改或變更，並同意受到本服務條款之約束。
3.  本公司有權隨時修改本服務條款，本公司將於修改本服務條款時，於本網站公告修改之事實及內容，不另作個別通知，使用者或會員有義務隨時注意該等修改或變更。如果使用者或會員不同意修改的內容，請立即停止使用本服務。如果使用者或會員於任何修改或變更後，繼續使用本服務，則視為使用者或會員已詳細閱讀並同意接受該等增訂、修改或變更之內容與相關規定。
4.  當您使用本網站服務或註冊成為本網站會員時，代表您同意本公司依據本網站之「隱私權政策」進行關於您個人資料的蒐集、處理及利用等事項。您所提供之個人資料將依該「隱私權政策」受到保護與規範。本網站「隱私權政策」之條款內容，均構成本服務條款之一部分，與本服務條款具有相同之效力，詳細隱私權相關內容請參閱本網站「隱私權政策」。

二、會員帳號、密碼及安全性
1.  在使用本網站之服務以前，您必須以facebook登入進行註冊手續，註冊過程中您必須填入完整、而且正確的資料。
2.  完成本服務的登記程序之後，維持密碼及帳號的機密安全，是您的責任。利用該帳號所進行的一切行動，將視為已取得您的授權及為您本人之行為，您需對該行為所衍生之任何法律責任負完全的責任。若帳戶及密碼遭盜用、不當使用或其他本公司無法辯識是否為本人親自使用之情況時，對此所致之損害，本公司將不負任何責任。為維護您的自身權益，請勿將帳號與密碼洩露或提供予第三人知悉，或出借或轉讓他人使用。若會員發現帳號遭人非法使用或有任何異常使用之情形時，應立即來信本網站服務信箱(xxx@sogi.com.tw)。
3.  初次使用本網站之服務時，請至帳號管理更新使用者本人正確、完整且最新的資料，且不得以冒用他人之名義註冊為會員。以及請即時維持更新會員個人資料，確保其正確性，以獲取最佳之服務。
4.  若您提供任何錯誤或不實的資料，本公司有權暫停或終止您的帳號，並拒絕您使用本網站，如會員資料有不完整、不正確及未及時更新等情況，致未能收到本網站寄發之會員權益、活動內容、提案項目等相關資訊，或變更、終止會員權益、活動內容、專案計畫之通知，或致生任何不利影響，會員同意在此情形下，視為會員已經收到該等資訊或通知，本公司概不因而承擔任何法律或賠償責任。 
5.  您於本網站所上傳或發布之任何資訊（包括但不限於您所公開張貼或私下傳送的資訊、資料、文字、軟體、音樂、音訊、照片、圖形、視訊、信息或其他資料等），若是他人擁有營業秘密或智慧財產權之資訊，請務必事先取得合法之授權。若您於本網站上觸犯智慧財產權等相關法律，概屬您之個人不法行為，由您自行負責而與本公司無涉，本公司不負任何法律責任。
6.  您須對於自己在本網站上所發表之意見或評論全權負責；請勿冒用他人名義，發表不實言論或發起任何違反法令或侵害他人權益之行為。

三、使用者之守法義務和承諾
使用者及會員承諾絕不為任何非法目的或以任何非法方式使用本網站，並承諾遵守中華民國相關法規及一切使用網際網路之國際慣例。若係中華民國以外之使用者，並同意遵守所屬國家或地域之法令。您同意並保證不得利用本服務從事侵害本公司或他人權益或違法之行為，包括但不限於下列事項，如您違反前開保證而有下列情形之一者，由您自行負擔因此所衍生之所有法律責任，概與本公司無涉：
1.  公布或傳送任何構成人身攻擊、侵害他人名譽、誹謗、侮辱、具威脅性、攻擊性、不雅、猥褻、不實、違反公共秩序或其他違反法令與善良風俗的言論或資訊之文字、圖片或任何形式的檔案於本網站上；
2.  侵害隱私權、營業秘密、商標權、著作權、專利權、其他智慧財產權及其他權利；
3.  違反依法律或契約所應負之保密義務；
4.  傳輸或散佈電腦病毒或任何對電腦軟、硬體產生中斷、破壞或限制功能之程式碼之資料；
5.  從事不法交易行為(販賣槍枝、毒品、禁藥、盜版軟體或其他違禁物)、提供賭博資訊或以任何方式引誘他人參與賭博，或張貼虛假不實、引人犯罪之訊息；
6.  從事未經本網站授權的商業行為；
7.  追蹤他人或干擾他人或擅自儲存他人之個人資訊；
8.  無論手動或自動，請勿對本網站任何部分使用任何類型的軟體或硬體進行爬蟲（包含但不限於 Crawl、Spider 等任何爬蟲方式）
9.  其他本公司有正當理由認為不適當之行為。

四、網站服務之暫停、中斷、故障、更改、限制與終止
1.  在下列情形，本網站將暫停或中斷本網站服務之全部或部分，本公司對於您因使用（或無法使用）本網站而造成的損害，均無須承擔任何法律或賠償責任：
A.  天災或其他不可抗力所致之服務停止或中斷
B.  本公司、其他協力廠商或相關電信業者網路系統軟硬體設備之故障或失靈、人為操作上之疏失或任何其他之原因而造成全部或一部中斷、暫時無法使用、遲延、或造成資料傳輸或儲存上之錯誤
C.  遭第三人侵入系統篡改或偽造變造資料的情形
D.  使用者有任何違反政府法令或本服務條款的情形
2.  會員服務系統或網站功能『例行性』之維護、改置或變動所發生之服務暫停或中斷，本平台將於該暫停或中斷前以電子郵件、公告或其他適當之方式告知會員。
3.  本公司有權依本公司自身所判斷之任何理由（包含但不限於一定期間未使用、法院或政府機關命令、本服務無法繼續或服務內容實質變更、無法預期之技術或安全因素問題、使用者詐欺或違法行為、未依約支付費用，基於交易安全之考量或其他本公司認為您違反本服務條款之情形），而隨時逕行暫停、更改、限制、刪除或終止您的會員帳戶或本網站服務之使用，或將您的使用者內容加以刪除、修改或限制存取，且無需事先通知您。對您或任何第三人因此所生之任何損失或損害及因此所可能產生之困擾、不便或損害，本公司均不需承擔任何責任。
4.  就本公司所為之暫時性限制處分、移除、隱藏，使用者得向本公司申請回復帳號之使用權限，惟本公司仍得視情形自由判斷是否附條件受理回復之請求或拒絕。
5.  本公司基於公司營運考量，在通知或未通知之情形下，隨時可以終止本網站服務或其任何部分。而無論其通知與否，您張貼到本網站的內容，煩請隨時為資料備份，以防資料遺失，本網站不對任何內容丟失以及您因此而遭受的相關損失承擔責任。若本網站服務之使用被中斷或終止、會員帳號及相關信息和文件被關閉或刪除，本公司對您或任何第三人均不承擔任何責任。

五、支持提案者之提案計畫
友善工作圈網站提供一項網站服務「友善提案」，允許部份的使用者（提案者）將提案計畫提出並尋求第三方（支持者）的支持。
1.  當您於本網站支持友善提案時，您係與提案者產生提案支持關係並提供提案者支持資金以取得相對應之回饋項目，本網站將不會對在任何提案中所接觸的個人以及團體做任何的擔保。這包括但不限於下列行為：貨品的運送以及其他的服務，任何與本網站無關的相關條約規定以及保固和保證等等。本網站將不會負責監控提案的進度以及表現，也不會負責提案失敗所造成的金錢損失以及任何可能的權利喪失。
2.  所有的提案以及交易皆為提案者與支持者間之行為，支持者有權決定是否支持提案，提案人亦有權決定是否接受支持者的支持。支持者若因支持提案所產生之問題或發生爭執，應向各該案提案者尋求救濟或解決之道，概與本公司無涉。本公司聲明絕不介入您與提案者或個人間的任何買賣、服務或其他交易行為，對於您支持提案所獲得的回饋項目、服務或其他交易標的物亦不負任何擔保責任。
3.  當您選擇支持提案時，您將提供付款資訊以完成支持。您的支持金額將於付款當下進行扣款。
4.  提案者可能需要和您聯繫並取得特定資訊才能寄發或履行他們的回饋項目方案內容。他們可能會要求寄件地址或其他客製化資訊，您需在提案者提出的時間內提供資訊才能獲得回饋項目內容。
5.  如支持者於提案進行期間要求退款或變更支持內容，本網站得變更其支持項目與內容，提案者不得異議。如支持者於提案成功結束後方要求退款或變更支持內容，提案者應自行衡量許可與否、並自行與支持者聯繫處理退款與後續相關事宜，概與本網站無涉。
6.  若回饋項目進度延誤或回饋內容有所變更，提案者應即時使用「進度更新」功能將資訊公開於本網站該提案頁面。支持者若因上述變更要求變更支持或退款，提案者不得拒絕或扣除部分費用。
7.  當您使用本網站與提案者互動時(留言或提出問題)，即視為您已同意下列留言板使用規範：
 嚴禁發佈任何有關政治、宗教、色情、非法, 以及危害國家安全的言論。
 互相尊重, 遵守互聯網絡道德, 嚴禁互相惡意攻擊, 漫罵。
 承擔一切因您的行為而直接或間接導致的民事或刑事法律責任。
 網站工作團隊有權保留或刪除留言區中的任意內容與擁有一切管理權力。
8.  本網站擁有任何時間可取消、修改以及干涉提案的權利。本網站擁有在任何時間無條件取消或退費支持者之金額的權利。

六、支持提案付款時之金流廠商與信用卡交易
1.  本網站使用的金流服務協力廠商為立吉富線上金流股份有限公司的 Paynow 和智通數位科技股份有限公司建置之「智付通平台」。透過本網站存取協力廠商服務時，會請您同意接受協力廠商使用條款及條件。本網站不會對您與該協力廠商之間的糾紛負責。本網站對於 Paynow 及智付通平台的服務效能及服務品質，不負任何責任以及保證。
2.  當您使用信用卡於本網站支持友善提案時，您需要填寫信用卡資訊或其他必要資料以供進行交易。當信用卡交易成功後，如您有取消、更改交易內容等其他需求，請依照本網站之條款進行辦理。
3.  當您在本網站刷卡付費時，本網站並不會額外收取任何手續費，但部分信用卡發卡銀行會針對於國外以新台幣之交易或因其他原因，而收取國外交易授權結匯手續費等其他相關手續費用，若您針對手續費之部分有任何疑問，請逕行與您的信用卡發卡銀行聯繫處理。
4.  本公司將以合理之努力確保會員或使用者於所有信用卡交易過程中所涉及相關資訊之秘密與安全性。請您瞭解並同意您在本網站上以信用卡進行交易之過程中所有顯露關於信用卡的資訊，將可能導致您在本網站上所使用過的信用卡有未經授權扣費交易之危險與可能性，您所有因此所可能產生的任何損害或損失，本公司不承擔任何賠償責任或義務，如您發現您的信用卡有任何未經授權扣費之情形，請逕行與您的信用卡發卡銀行聯繫處理。

七、免責聲明
您明確了解並同意本網站對提案人之提案不提供任何明示或默示的擔保，本網站不保證以下事項：
1.  本網站永遠安全、不受干擾、完整、及時提供、安全可靠或無錯誤；
2.  提案之結果一定符合您的預期需求本網站；
3.  提案之結果或回饋一定不受任何因素干擾、及時提供、安全可靠或免於出錯；
4.  經由提案成功後取得之任何回饋（包括但不限於產品、服務、資訊或其他資料）一定符合您的期望；
5.  當您使用本網站或經由本網站連結之其他網站而取得之資訊或建議（包括但不限於：農業、商務、醫療、法律等），內容一定完全正確無誤。

八、內容和智慧財產權的保護
1.  本網站所使用之軟體或程式、網站上所有內容及資料，其著作權、專利權、商標、營業秘密、其他智慧財產權、所有權或其他權利，均為本網站或其他權利人所有，未經本公司或其權利人之合法授權，任何人不得逕自使用、修改、重製、公開播送、改作、散布、發行、公開發表、進行還原工程、解編或反向組譯。若您欲引用或轉載任何上開內容，除明確為法律所許可者外，必須依法取得本公司或其他權利人的事前書面同意；事後並應以明顯圖字標註資料之來源出處。如有違反，您應對本公司或其他權利人負損害賠償責任。
2.  若您未合法取得他人授權使用、修改、重製、公開播送、改作、散布、發行、公開發表某資料，請勿擅自將該資料上載、傳送、輸入或提供予本網站。任何資料經您上載、傳送、輸入或提供至本網站時，視為您已允許本網站無條件使用、修改、重製、公開播送、改作、散布、發行、公開發表該等資料，您對此絕無異議。您保證本公司及其關係企業使用、公開播送、公開傳輸、公開演出、公開展示、公開上映、公開口述、重製、散布、改作、編輯、發行、出租、翻譯、轉授權上開資料，不致侵害任何第三人之智慧財產權，否則您應對本公司及其關係企業負損害賠償責任。
3.  您瞭解並同意我們得為保護他人智慧財產權而逕行以合理方式處理相關智慧財產權侵害情事，包括但不限於逕行暫時或終止服務、限制、刪除、移除、隱藏您全部或部分會員帳戶及您於本網站所公開張貼或私下傳送的資訊、文字、軟體、、音訊、照片、圖形、視訊或其他檔案。
4.  本網站將不會對您發佈到本網站中的文字、文件、圖像、照片（包括您自己的照片）、視頻、聲音、音樂作品、創作作品或任何其他材料（合稱為“ 內容”）擁有任何智慧財產權。在您將內容發佈到本網站中，您將繼續保有對此類內容的相關權利，並且有權利依據您選擇的方式使用此內容。
5.  本網站中提供的內容，包含會員和其他本網站許可方的內容受《中華民國著作權法》、《中華民國商標法》、《中華民國專利法》和其他相關法律法規的保護。
6.  若您認為本網站上的內容有侵犯智慧財產權或中華民國法令之虞時，請通知本網站客服信箱（xxx@sogi.com.tw）並附上相關證明，網站工作團隊將盡速處理。

九、第三方連結
1.  本網站使用者可提供網路上其他網站或資源之連結，可能連結到其他個人、公司或組織之網站，您須自行評估此類網站或資源是否可供存取，經由此類網站或資源獲得的任何內容、商品或服務所產生的任何損害或損失，本網站不負任何直接或間接之責任。
2.  您同意本公司無須為您連結至非屬本網站或其他非本公司所有網站所生之任何損害，負任何損害賠償之責任。

十、賠償
您了解並同意若您於本網站提供、張貼或傳送之內容、使用本網站服務、違反本服務條款、或侵害他人任何權利等行為，您應自負完全之法律責任與賠償，概與本公司無涉，如因此致本公司遭受行政裁罰或民、刑事訴訟或受第三人賠償之請求時，您必須負責協調解決，並保障本公司及其相關企業、高級職員、代理人、合夥人、授權人或其它合作夥伴及員工等免受由此帶來的所有損害、損失和費用（包括但不限於律師費、訴訟費等〉。

十一、保證您了解本服務條款並同意
本服務條款構成您與本網站及本公司之全部協議，並規範您對於本網站服務之使用行為。在您使用相關服務、使用第三方提供的內容或軟件時，亦應遵從所適用之附加條款及條件。
本服務條款的任何規定不會免除本網站對造成使用者人身傷害的、或因故意或重大過失造成您財產損失的任何責任。
用戶使用本網站服務之風險由個人負擔。本網站對以下事項不提供任何擔保或保證：
1.  本網站服務將符合您的要求
2.  本網站服務將不受干擾、及時提供、安全可靠或不會出錯，
3.  使用本網站服務取得之結果正確可靠，
4.  您經由本網站服務取得之任何回饋(產品、服務或其它信息)完全符合您的期望。
5.  用戶自本網站或本網站服務取得的任何建議或資訊，無論是書面或口頭形式，除非本服務條款有明確規定，將不構成本服務條款以外之任何保證。

十二、準據法及管轄法院
本服務條款之解釋及適用、以及所有您因使用本服務而與本公司間所生之權利義務關係，均應依中華民國法律解釋適用之，且不適用中華民國之選法規則，並以臺灣臺北地方法院為第一審專屬管轄法院。
本服務條款所定之任何條款，如其全部或一部被有管轄權之法院判定為無效時，不影響其他條款之效力，其他條款仍然有效。
            </li>
          </ol>
        </div>
        <div class="text-muted font-small">
          
        </div>
      </div>
    </div>
  </div>
</div>