<div id="main" class="push py-14 mt-10 mt-lg-12">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center text-success mb-10">
          <div class="h1 font-weight-bold">服務條款</div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="text-dark">
          <ol class="pl-3">
            <li><strong>General</strong><br>
              <p>Please read these Terms of Service ('Terms', 'Terms of Service') carefully before using the Swiss Crowdfunder website or related applications (the 'Service') which are operated by ungleich glarus ag.
              </p>
              <p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service. By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.
              </p>
            </li>
            <li>
              <strong>Contact</strong><br>
              <p>If you have any questions about these Terms, please <a href="">contact us</a> .</p>
            </li>
          </ol>
          <hr class="my-3">
          <div class="h5"><strong>隱私權政策</strong></div>
          <ol class="pl-3">
            <li><strong>General</strong><br>
              <p>Please read these Terms of Service ('Terms', 'Terms of Service') carefully before using the Swiss Crowdfunder website or related applications (the 'Service') which are operated by ungleich glarus ag.
              </p>
              <p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service. By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.
              </p>
            </li>
            <li>
              <strong>Contact</strong><br>
              <p>If you have any questions about these Terms, please <a href="">contact us</a> .</p>
            </li>
          </ol>
        </div>
        <div class="text-muted font-small">
          成立於2018年10月10日<br>
          2018年10月10日修訂
        </div>
      </div>
    </div>
  </div>
</div>