<div id="main" class="push bg-404 py-14">
  <div class="container">
    <div class="row justify-content-md-center my-20 py-10">
      <div class="col-12 col-md-10 text-center">
        <div class="p-0 p-lg-10">
          <img class="img-fluid py-0 py-lg-10" src="/sk2_assets/img/uploads/404-pic.png" alt="">
          <p>您查詢的頁面不存在</p>
          <%= link_to "回首頁", root_path, :class => "btn btn-link"%>
        </div>
      </div>
    </div>
  </div>
</div>