<% supporters.each do |supporter|%>
	<% if supporter.paid == true %>
		<div class="border border-hover p-3 mb-6">
		  <div class="media">
		    <img class="img-fluid rounded-circle mr-3" src="<%= supporter.anonymous == true ? "/sk2_assets/img/ui/anonymous.jpg" : "https://graph.facebook.com/#{supporter.user.try(:authorizations[0]).try(:uid)}/picture" %>" alt="" style="width: 50px">
		    <div class="media-body">
		      <div class="row">
		        <div class="col">
		          <%= supporter.anonymous ? "匿名贊助" :  supporter.user.user_profile.nickname  %>
		          <span class="badge badge-outlined badge-primary">支持者</span>
		        </div>
		        <div class="col">
		          <div class="text-right text-muted">
		            <small><%= supporter.updated_at.strftime('%F %H:%M')%></small>
		          </div>
		        </div>
		      </div>
		      <p><%= supporter.evaluation%></p>
		    </div>
		  </div>
		</div>
	<% end %>
<% end %>